//
// 420PX
//
@media (min-width: 420px) {
  .header__text {
    bottom: 45%;
  }
  .circle-image {
    width: 70%;
  }
  .experience-image__icons,
  .about-image__icons {
    width: 30%;
  }
}

//
// 600PX
//
@media (min-width: 600px) {
  .circle-image {
    width: 50%;
    &.experience-image--frontend {
      width: 60%;
    }
  }
  .main__title {
    text-align: center;
  }
  .main__description {
    text-align: center;
  }
  .header {
    &__text {
      bottom: 55%;
      left: 15%; 
    }
  }
  .experience-image__icons,
  .about-image__icons {
    width: 25%;
  }
  .about {
    &-text {
      width: 70%;
    }
  }
  .experience {
    &-text {
      width: 70%;
    }
  }
  .github {
    width: 70%;
    &-profile {
        text-align: center;
    }
  }
  .footer-text {
    width: 70%;
    text-align: center;
  }
}
