//
//  HEADER FEATURES
//
.header {
  padding-bottom: 0;
  position: relative;
  &__logo {
    margin: 0 auto;
    width: 100px;
    position: absolute;
    top: 0%;
    right: 10%;
    z-index: 999;
  }
  &__image {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    // background-image: url('../images/header/bg-all.png');
    // background-position: center center;
    // background-size: cover;
    &--bg {
        display: block;
        width: 100%;
    }
    &--bgbig {
      display: none;
    }
    &--grafismo {
      width: 90%;
      height: auto;
      @include object-center;
    }
    &--maismenos {
      width: 95%;
      height: auto;
      @include object-center;
    }
    &--tuba {
      width: 100%;
      height: auto;
      top: -12%;
      left: -12%;
    }
    &--traco {
      @include object-center;
      width: 50%;
      height: auto;
    }
  }
  &-parallax__img {
    position: absolute;
  }
  &__text {
    position: absolute;
    color: #fff;
    bottom: 5%;
    left: 5%;
    .main__description {
      text-shadow: 1px 1px 6px black;
    }
  }
  &__title {
    font-family: $display-slab--bolditalic;
    font-size: 3rem;
    width: 200px;
    line-height: .9;
    position: relative;

  }
  &__subtitle {
    font-size: 1.5rem;
  }
}
//
// PATH SECTION FEATURES
// 
.path {
  padding-top: 2.5rem;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  &__image {
    flex: 0 40%;
    margin: 0 auto;
    display: inline-block;
  }
}

// 
// 
// 
.contact-me {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  bottom: 0;
  right: 0;
  transition: all .2s ease-in-out;
  opacity: 1;
  visibility: visible;
  // transform: translate(50%, -50%);
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  &__link {
    color: #fff;
    display: block;
    margin-bottom: 0;
  }
}


//
// ABOUT SECTION FEATURES
//
.about {
  // overflow: hidden;
  padding-top: 1.5rem;
  &-image {
    max-width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 2rem;
    &__img {
      margin: 0 auto;
      display: block;
    }
    &__icons {
      position: absolute;
      z-index: 1;
      width: 35%;
      height: auto;
      top: 40%;
      left: 25%;
      &--mandala {
        bottom: 10%;
        left: 44%;
        top: auto;
        width: 40%;
      }
    }
  }
  &-text {
    max-width: 90%;
    margin: 0 auto;

  }
}
//
// EXPERIENCE FEATURES
//
.experience {
  // background-color: $red-color;
  // color: #fff;
  // overflow: hidden;
  .main__title {
    margin: 0 auto;
    max-width: 90%;
    display: block;
  }
  &-text {
    max-width: 90%;
    margin: 0 auto 2rem auto;
    padding-top: 2rem;
    &__second {
        transition: all 0.3s ease-out;
    }
    &__link {
      // color: white;
      display: inline;
      &:hover {
        color: $orange-color;
      }
      &::after {
        content: '';
        border-bottom: none;
      }
      &:focus {
        outline: 5px solid $yellow-color;
      }
    }
    &__container {
      position: relative;
    }
  }
  &-image {
    position: relative;
    margin: 0 auto;
    padding-top: 2rem;
    &--frontend {
      margin: 0 auto;
      display: block;
    }
    &__icons {
      position: absolute;
      z-index: 1;
      width: 35%;
      height: auto;
      @include object-center();
      &--sun {
        top: auto;
        bottom: -30%;
        left: 40%;
        width: 45%;
      }
      &--rectangle {
        top: 20%;
        left: 80%;
      }
      &--flower {
        top: auto;
        bottom: -30%;
        left: 70%;
        width: 45%;
      }
      &--music {
        top: 20%;
        left: 20%;
      }
    }
  }
  .main__description::after {
    border-bottom: $orange-color 3px solid;
    border-left: $orange-color 3px solid;
  }
  .text-color {
    color: #fff;
    background-color:$orange-color;
  }
}

//
// Projects PROFILE
//
.projects {
  padding-top: 2.5rem;
  &-text {
    margin: 0 auto 5rem auto;
    max-width: 90%;
    position: relative;
    &-color {
      background-color: $blue-color;
    }
  }
  &-list {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    &__item {
      position: relative;
    }
    &__link {
      &::after {
        border-bottom: none
      }
      &:hover {
        .projects-list__image {
            transform: scale(1.2);
        }
      }
    }
    &__image {
      display: block;
      margin: 0 auto;
      transition: all .3s;
    }
    &__text{
      width: 200px;
      position: absolute;
      background-color: $blue-color;
      color: #fff; 
      bottom: 50%;
      left: 0;
      padding: 1rem 2rem;
    }
    &__company{
      font-family: $sans-serif--bold;
      font-size: 1rem;
    }
    &__project {
      font-family: $display-slab--bolditalic;
      font-size: 2rem;
    }
  }
  .main__description::after {
    border-color: $blue-color;
  }
}
//
// FOOTER FEATURES
//
.footer {
  background-color: $yellow-color;
  padding-top: 2rem;
  &-text {
    margin: 0 auto;
    max-width: 90%;
    display: block;
    &__image {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    &__link {
      display: block;
      height: 80px;
      width: 80px;
      margin-left: 1rem;
      &:first-child{
        margin-left: 0.5rem;
      }
    }
    &__container {
      display: flex;
      flex-direction: row;
    }
  }
  .main__description::after {
    border-bottom: #000 3px solid;
    border-left: #000 3px solid;
  }
  .text-color {
    background-color: #fff;
    color: #000;
  }
  .cls-1{ 
    fill:none; 
    stroke:#1d1d1b;
    stroke-linecap:square; 
    stroke-miterlimit:10; 
    stroke-width:5px; 
    stroke-dasharray:0 13;
    transition: all .3s;
  }
  .cls-2{
    fill:#1d1d1b;
    transition: all .3s;
  }
  svg {
    transition: all .3s;
  }
  a:hover {
    svg, .cls-2 {
      fill: $red-color
    }
    .cls-1 {
      stroke: $red-color;
    }
  }
}
