// FONTS SETUP
@font-face {
    font-family: 'zilla_slabbold_italic';
    src: url('../fonts/zillaslab-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/zillaslab-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'zilla_slabregular';
    src: url('../fonts/zillaslab-regular-webfont.woff2') format('woff2'),
         url('../fonts/zillaslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noah-Bold';
    src: url('../fonts/Noah-Bold.woff2') format('woff2'),
         url('../fonts/Noah-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Noah-BoldItalic';
    src: url('../fonts/Noah-BoldItalic.woff2') format('woff2'),
         url('../fonts/Noah-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Noah-Regular';
    src: url('../fonts/Noah-Regular.woff2') format('woff2'),
         url('../fonts/Noah-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Domaine-Sans';
    src: url('../fonts/Domaine_Sans_Display_Extrabold_Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
// 
// VARIABLES
// 
$display-slab--bolditalic: 'Domaine-Sans';
$serif--regular: 'zilla_slabregular' ;
$serif--bolditalic: 'zilla_slabbold_italic' ;
$sans-serif--regular: 'Noah-Regular';
$sans-serif--bold: 'Noah-Bold';
$sans-serif--bolditalic: 'Noah-BoldItalic';
// 
// VARIABLES COLORS
// 
$primary-color: #000;
$grey-color: #ededed;
$purple-color: #99789E;
$red-color: #F48167;
$orange-color: #F9AF77;
$yellow-color: #FFE65E;
$green-color: #43B871;
$blue-color: #57CBF5;

// 
// EXTENDS BASES
// 
@mixin object-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin circle-base {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
}

// 
// GLOBAL
// 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1.2;
}
body {
    font-family: $sans-serif--regular ;
    color: $primary-color;
}
a{
    color: $primary-color;
    text-decoration: none;
    display: block;
    margin-bottom: .8rem;
    &:hover {
        color: $red-color;
    }
}
:focus {
     outline: 5px solid $red-color;
     outline-offset: 2px;
}
.section-base {
    padding-bottom: 2rem;

}
.button-plus {
    background-color: #fff;
    border: $purple-color 4px solid;
    color: $purple-color;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 2rem;
    margin: 0 auto;
    display: block;
    margin-top: 1.5rem;
    position: relative;
    transition: all .4s;
    &::after {
        content: 'more';
        color: $purple-color;
        font-size: 1rem;
        position: absolute;
        @include object-center();
        top: auto;
        bottom: -20px;
        opacity: 0;
        transition: all .3s;
    }
    &:hover{
        transform: scale(1.2);
        &::after {
            bottom: -35px;
            opacity: 1;
        }
    }
}
p{
    margin-bottom: .8rem;
    &:last-child {
        margin-bottom: 0;;
    }
}
.main__title {
    font-size: 1rem;
}
.main__description {
    font-family: $display-slab--bolditalic;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}
.circle-image {
    border-radius: 50%;
    width: 80%;
    height: auto;
}
// 
//  HEADER FEATURES
// 
.header {
    padding-top: 1.5rem;
    &__logo {
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 2rem;
        img {
            display: block;
            width: 100px;
            height: auto;
            margin: 0 auto;
        }
    }
    &__image {
        position: relative;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    &__text {
        position: absolute;
        color: #fff;
        bottom: 20%;
        left: 5%;
    }
    &__title {
        font-family: $display-slab--bolditalic;
        font-size: 3rem;
    }
    &__subtitle{
        font-size: 1.2rem ;
    }
    &__circle {
        right: 10%;
        left: auto;
        bottom: -30%;
        @include circle-base();
        transition: all .3s;
        cursor: pointer;
        .header--videomaker{
            visibility: hidden;
        }
        &:hover {
            background-color: $orange-color;
            .header--frontend{
                visibility: hidden;
            }
            .header--videomaker{
                visibility: visible;
            }
        }
    }
    &__description {
        color: $primary-color;
        font-family: $sans-serif--regular;
        font-size: 1rem;
        position: absolute;
        @include object-center();
    }
}

// 
// ABOUT SECTION FEATURES
// 
.about {
    &-image {
        max-width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 2rem;
        &__img{
            margin: 0 auto;
            display: block;
        }
        &__icons {
            position: absolute;
            z-index: 1;
            width: 35%;
            height: auto;
            top: 0%;
            left: 25%;
            &--mandala{
                bottom: -12%;
                left: 44%;
                top: auto;
                width: 40%;
            }
        }
    }
    &-text{
        max-width: 90%;
        margin: 0 auto;

    }
}
// 
// EXPERIENCE FEATURES
// 
.experience {
    background-color: $grey-color;
    &-text {
        max-width: 90%;
        margin: 0 auto 2rem auto;
        padding-top: 2rem;
    }
    &-image {
        position: relative;
        margin: 0 auto;
        padding-top: 2rem;
        &--frontend {
            margin: 0 auto;
            display: block;
        }
        &__icons {
            position: absolute;
            z-index: 1;
            width: 35%;
            height: auto;
            @include object-center();
            &--sun {
                top: auto;
                bottom: -30%;
                left: 40%;
                width: 45%;
            }
            &--rectangle {
                top: 20%;
                left: 80%;

            }
            &--flower {
                top: auto;
                bottom: -30%;
                left: 70%;
                width: 45%;
            }
            &--music {
                top: 20%;
                left: 20%;

            }
        }
    }
}

// 
// GITHUB PROFILE
// 
.github {
    max-width: 90%;
    margin: 0 auto;
    &-profile {
        &__hirable {
            &.hirable {
                color: $green-color;
            }
        }
    }
}

// 
// FOOTER FEATURES
// 
.footer {
    max-width: 90%;
    margin: 0 auto;
}