@font-face {
  font-family: 'zilla_slabbold_italic';
  src: url("../fonts/zillaslab-bolditalic-webfont.woff2") format("woff2"), url("../fonts/zillaslab-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'zilla_slabregular';
  src: url("../fonts/zillaslab-regular-webfont.woff2") format("woff2"), url("../fonts/zillaslab-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Noah-Bold';
  src: url("../fonts/Noah-Bold.woff2") format("woff2"), url("../fonts/Noah-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Noah-BoldItalic';
  src: url("../fonts/Noah-BoldItalic.woff2") format("woff2"), url("../fonts/Noah-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Noah-Regular';
  src: url("../fonts/Noah-Regular.woff2") format("woff2"), url("../fonts/Noah-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Domaine-Sans-Italic';
  src: url("../fonts/Domaine_Sans_Display_Extrabold_Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Domaine-Sans';
  src: url("../fonts/DomaineDispNar-Extrabold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1.2; }

body {
  font-family: "Noah-Regular";
  color: #000; }

a {
  color: #000;
  text-decoration: none;
  display: block;
  margin-bottom: .8rem;
  position: relative; }
  a:hover {
    color: #F48167; }
  a::after {
    content: '';
    width: 50px;
    height: 10px;
    border-bottom: #F9AF77 2px solid;
    display: block;
    position: absolute;
    bottom: -5px;
    transform: translateY(15px);
    opacity: 0;
    transition: all .2s; }
  a:hover::after {
    opacity: 1;
    transform: translateY(0); }

:focus {
  outline: 5px solid #F48167;
  outline-offset: 2px; }

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fff, 0 0 0 8px #F48167; }

.section-base {
  padding-bottom: 2rem; }

.button-plus {
  background-color: #fff;
  border: #99789E 4px solid;
  color: #99789E;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 2rem;
  margin: 0 auto;
  display: block;
  margin-top: 1.5rem;
  position: relative;
  transition: all .4s; }
  .button-plus::after {
    content: 'more';
    color: #99789E;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: auto;
    bottom: -20px;
    opacity: 0;
    transition: all .3s; }
  .button-plus:hover {
    transform: scale(1.2); }
    .button-plus:hover::after {
      bottom: -35px;
      opacity: 1; }

p {
  margin-bottom: .8rem; }
  p:last-child {
    margin-bottom: 0; }

.main__title {
  font-size: 1rem; }

.main__description {
  font-family: "Domaine-Sans-Italic";
  font-size: 2.5rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  position: relative; }
  .main__description::after {
    content: '';
    border-bottom: #99789E 3px solid;
    border-left: #99789E 3px solid;
    width: 100px;
    height: 110px;
    display: block;
    position: absolute;
    bottom: -.5rem;
    left: -.5rem; }

.circle-image {
  border-radius: 50%;
  width: 90%;
  height: auto; }

.text-color {
  background-color: #99789E;
  font-family: "Noah-Bold";
  padding: .5rem;
  color: white; }

.header {
  padding-top: 1.5rem; }
  .header__logo {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 2rem; }
    .header__logo img {
      display: block;
      width: 100px;
      height: auto;
      margin: 0 auto; }
  .header__image {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    overflow: hidden; }
    .header__image--bg {
      display: block; }
    .header__image--grafismo {
      width: 90%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .header__image--maismenos {
      width: 95%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .header__image--tuba {
      width: 100%;
      height: auto;
      top: -12%;
      left: -12%; }
    .header__image--traco {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: auto; }
  .header-parallax__img {
    position: absolute; }
  .header__text {
    position: absolute;
    color: #fff;
    bottom: 5%;
    left: 5%; }
  .header__title {
    font-family: "Domaine-Sans-Italic";
    font-size: 3rem;
    width: 200px;
    line-height: .9;
    position: relative; }
  .header__subtitle {
    font-size: 1.5rem; }

.about-image {
  max-width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 2rem; }
  .about-image__img {
    margin: 0 auto;
    display: block; }
  .about-image__icons {
    position: absolute;
    z-index: 1;
    width: 35%;
    height: auto;
    top: 0%;
    left: 25%; }
    .about-image__icons--mandala {
      bottom: -12%;
      left: 44%;
      top: auto;
      width: 40%; }

.about-text {
  max-width: 90%;
  margin: 0 auto; }
  .about-text__second {
    transition: all 0.3s ease-out; }

.experience {
  background-color: #F48167;
  color: #fff; }
  .experience-text {
    max-width: 90%;
    margin: 0 auto 2rem auto;
    padding-top: 2rem; }
    .experience-text__second {
      display: none; }
  .experience-image {
    position: relative;
    margin: 0 auto;
    padding-top: 2rem; }
    .experience-image--frontend {
      margin: 0 auto;
      display: block; }
    .experience-image__icons {
      position: absolute;
      z-index: 1;
      width: 35%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .experience-image__icons--sun {
        top: auto;
        bottom: -30%;
        left: 40%;
        width: 45%; }
      .experience-image__icons--rectangle {
        top: 20%;
        left: 80%; }
      .experience-image__icons--flower {
        top: auto;
        bottom: -30%;
        left: 70%;
        width: 45%; }
      .experience-image__icons--music {
        top: 20%;
        left: 20%; }
  .experience .main__description::after {
    border-bottom: #fff 3px solid;
    border-left: #fff 3px solid; }
  .experience .text-color {
    color: #F9AF77;
    background-color: #fff; }

.github {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 2rem; }
  .github-profile__hirable.hirable {
    color: #43B871; }
  .github-profile__img {
    margin: 0 auto;
    display: block; }
  .github .text-color {
    background-color: #57CBF5;
    color: #000; }
  .github .main__description::after {
    border-bottom: #57CBF5 3px solid;
    border-left: #57CBF5 3px solid; }

.footer {
  background-color: #FFE65E;
  padding-top: 2rem; }
  .footer-text {
    margin: 0 auto;
    max-width: 90%;
    display: block; }
  .footer .main__description::after {
    border-bottom: #000 3px solid;
    border-left: #000 3px solid; }

@media (min-width: 420px) {
  .header__text {
    bottom: 45%; }
  .circle-image {
    width: 70%; }
  .experience-image__icons,
  .about-image__icons {
    width: 30%; } }

@media (min-width: 600px) {
  .circle-image {
    width: 50%; }
    .circle-image.experience-image--frontend {
      width: 60%; }
  .main__title {
    text-align: center; }
  .main__description {
    text-align: center; }
  .header__text {
    bottom: 55%;
    left: 15%; }
  .experience-image__icons,
  .about-image__icons {
    width: 25%; }
  .about-text {
    width: 70%; }
  .experience-text {
    width: 70%; }
  .github {
    width: 70%; }
    .github-profile {
      text-align: center; }
  .footer-text {
    width: 70%;
    text-align: center; } }
