<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Ana Sanz, frontend developer, based in Spain, Website Portfolio")
        link(rel="stylesheet", href="css/style.css")
        title Ana Sanz | WebPortfolio
    body
        header.section-base.header
            .header__text
                h1.main__description coding with you for a better web

            .header__image
                figure.heager__figure
                    img.header__image--bg(src="./images/header/bg-allsmall.png", alt="")
                figure.header__figure
                    img.header__image--bgbig(src="./images/header/bg-all.png") 
                .header-parallax
                    img.header-parallax__img.header__image--grafismo(src="./images/header/grafis.png", alt="")    
                    img.header-parallax__img.header__image--maismenos(src="./images/header/maismenos.png", alt="")    
                    img.header-parallax__img.header__image--tuba(src="./images/header/tuba.png", alt="")    
                    img.header-parallax__img.header__image--traco(src="./images/header/traco.png", alt="")    
                    img.header__logo(src="./images/logo-white.png",  alt="Ana Sanz Logo")
        main.section-base.main
            //- section.section-base.path
            //-     img.path__image.path__image--saopaulo(src="./images/SVG/saopaulo_icon.svg", alt="")
            //-     img.path__image.path__image--japan(src="./images/SVG/japan_icon.svg", alt="")
            //-     img.path__image.path__image--spain(src="./images/SVG/spain_icon.svg", alt="")
            //-     img.path__image.path__image--portugal(src="./images/SVG/portugal_icon.svg", alt="")
            section.contact-me#contact__button
                a(href="#contact"  class="contact-me__link") Contact
            section.section-base.projects
                .projects-text
                    h2.main__title Portfolio
                    h3.main__description Code Projects
                    p.projects-text-color.text-color Here are some project that I worked with!
                ul.projects-list
                    li.projects-list__item
                        a.projects-list__link(href="https://o2online.es/")
                            img(src="./images/o2-website.png", alt="" class="projects-list__image circle-image")
                            .projects-list__text
                                p.projects-list__company Telefonica
                                p.projects-list__project O2 Website
                        
                    li.projects-list__item
                        a.projects-list__link(href="https://github.com/Ahisanz/new_old_website")
                            img(src="./images/old-website.png", alt="" class="projects-list__image circle-image")
                            .projects-list__text
                                p.projects-list__company Ana Sanz
                                p.projects-list__project Old Website
            section.section-base.about
                .about-image
                    img.circle-image.about-image__img(src="./images/ana-sanz-photo.jpg", alt="Ana Sanz Photo (me)")
                    img.about-image__icons.about-image__icons--mandala(src="./images/SVG/bg-mandala.svg", alt="mandala dots style icon")
                    img.about-image__icons.about-image__icons--fireworks(src="./images/SVG/bg-fireworks.svg", alt="Fireworks dots style icon")
                .about-text
                    .about-text__first 
                        h2.main__title Hi, I'm Ana Sanz
                        h3.main__description Versatile Coder
                        p.text-color Frontend developer with 5 years of experience, based in Palma de Mallorca, Spain.
                        p I'm a multidisciplinary person, organized, self-taught, versatile, adaptable and detail-oriented. 
                        p I have experience working in different places, Brazil, Japan, and Spain, and with different types of companies, startups, and agencies.
                        p I have expertise coding with: HTML/PUG, CSS/SASS, Javascript, Gulp, Git.
                        p Passionate about technology, books, innovatiosn, sci-fi, games, human history, ecology, and gastronomy.

            section.section-base.experience
                h2.main__title Professional
                .experience-text
                    .experience-text__first
                        div.experience-text__container
                            h3.main__description Highlights
                            p I worked at the brazilian startup Mendelics for 2 years, as graphic designer and frontend developer.
                            p In Madrid as front-end developer at Prodigious Spain, with great companies like Mercedes, Garnier and Telefonica(<a class="experience-text__link" href="https://o2online.es/">especially with O2</a>).
                            p.text-color Fundamentals: Website Optimization, Mobile First, Accessibility, BEM CSS, Responsive & Adaptative website.
                        button.button-plus.button-about#button-moreabout( aria-expanded="false" aria-control="more-about") +
                        .experience-text__second#more-about(style="display: none" role="region" aria-labeledby="button-moreabout")
                            h3.main__description Other Stuff
                            p I have 5 years of experience as Graphic/ Webdesigner, 
                            p And 3 years working as Photographer/ Videographer (working with musicians and dancers).
                            p Oh, I'm also a Flamenco dancer, and in 2019-2020 I have been working in a company in Mallorca, Spain.
                        .experience-image
                            img.circle-image.experience-image--frontend(src="./images/percusion-11.jpg" alt="")
                            img.experience-image__icons.experience-image__icons--sun(src="./images/SVG/bg-sun.svg", alt="Sun dots style icon")
                            img.experience-image__icons.experience-image__icons--rectangle(src="./images/SVG/bg-rectangle.svg", alt="Rectangle dots style icon")

        footer.section-base.footer#contact
            .footer-text
                h2.main__title Contact
                h3.main__description Leave me a message
                p.text-color Hope we can work together!
                //- a(href="mailto:anaclaulp@gmail.com") anaclaulp@gmail.com
                //- p +34 695749730
                //- a(href="https://linkedin.com/in/ana-claudia-sanz/") Linkedin
                //- a(href="https://landing.jobs/profile/2e3cb6703e48a889148669") Landing.jobs
                .footer-text__container
                    a.footer-text__link(href="mailto:anaclaulp@gmail.com")
                        <svg viewBox="0 0 135.94 135.94" class="footer-text__image">
                            <g data-name="Layer 2">
                                <g data-name="Layer 3">
                                    <circle class="cls-1" cx="67.97" cy="67.97" r="65.45"/>
                                    <path class="cls-2" d="M106.44,45.43a6.77,6.77,0,0,0-6.76-6.77H36.26a6.78,6.78,0,0,0-6.77,6.77V90.51a6.78,6.78,0,0,0,6.77,6.77H99.68a6.77,6.77,0,0,0,6.76-6.77ZM34,46.34,55.72,67.87,34,89.58ZM68.11,73.81,37.21,43.17H98.75ZM58.92,71l7.61,7.55a2.25,2.25,0,0,0,3.18,0l7.43-7.42L98.75,92.77H37.19ZM80.33,68l21.61-21.61V89.58Z"/>
                                </g>
                            </g>
                        </svg>
                    a.footer-text__link(href="https://linkedin.com/in/ana-claudia-sanz/")
                        <svg class="footer-text__image" viewBox="0 0 135.94 135.94">
                            <g data-name="Layer 2">
                                <g data-name="Layer 3">
                                    <circle class="cls-1" cx="67.97" cy="67.97" r="65.45"/>
                                    <path d="M87,102.76h13.51a2.18,2.18,0,0,0,2.17-2.18c-1-22.78,5.34-46.82-18.37-46.82A17.22,17.22,0,0,0,73.5,57.38c0-4.24-4.58-1.89-15.15-2.52A2.18,2.18,0,0,0,56.17,57c.88,41.07-2,45.73,2.18,45.73H71.86c3.92,0,1.43-5.53,2.17-23.74,0-7.52,2.18-9,5.94-9,4.16,0,4.85,2.89,4.85,9.36.75,17.88-1.73,23.38,2.18,23.38ZM80,65.67C67,65.67,69.69,80,69.69,98.41H60.52V59.21h8.63V63a2.31,2.31,0,0,0,4.29,1c1.42-2.7,5.13-5.87,10.87-5.87,10.22,0,14,5,14,18.55V98.41H89.17c0-20.71,2.19-32.74-9.2-32.74Z"/>
                                    <path d="M36.35,54.86c-4.12,0-1.3,4.6-2.17,45.73a2.17,2.17,0,0,0,2.17,2.17H49.88c4.11,0,1.3-4.59,2.17-45.73,0-3.75-5.45-1.53-15.7-2.17ZM47.7,98.41H38.53V59.21H47.7Z"/>
                                    <path d="M43.11,33.18c-13.27,0-13.19,20.09,0,20.09s13.28-20.09,0-20.09Zm0,15.74c-7.45,0-7.52-11.4,0-11.4s7.43,11.4,0,11.4Z"/>
                                </g>
                            </g>
                        </svg>
                    a.footer-text__link(href="https://github.com/Ahisanz")
                        <svg class="footer-text__image" viewBox="0 0 135.94 135.94">
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_3" data-name="Layer 3">
                                    <circle class="cls-1" cx="67.97" cy="67.97" r="65.45"/>
                                    <g class="cls-2">
                                        <path d="M30,87.79c7,13.43,24.33,13.13,39,13.29,12.69,0,22.56-.81,29.45-4.78,13.56-7.82,14.44-31.63,5.16-43.52a20.62,20.62,0,0,0-1.71-16.52,2.59,2.59,0,0,0-2.31-1.41c-7.64,0-12.68,1.48-18.11,5.4a65.36,65.36,0,0,0-26.28.13c-5.56-4-10.64-5.53-18.27-5.53a2.59,2.59,0,0,0-2.32,1.43,20.54,20.54,0,0,0-1.71,16.58C24.53,63.37,25,78.2,30,87.79Zm7.72-32.64a2.6,2.6,0,0,0,.51-2.54c-2-5.83-1.19-9.31.27-12.53a22.39,22.39,0,0,1,14.48,5.16,2.63,2.63,0,0,0,2.17.47,59.88,59.88,0,0,1,26.3-.14,2.56,2.56,0,0,0,2.17-.46c4.53-3.48,8.3-4.84,14.32-5,1.41,3.12,2.21,6.66.27,12.44a2.63,2.63,0,0,0,.5,2.54c3.78,4.35,5.7,9.89,5.7,16.44,0,20.71-9.28,24.39-35.45,24.39-12.15,0-28.75.28-34.34-10.47C30.26,77,29.94,64,37.67,55.15Zm0,0"/>
                                    </g>
                                    <path d="M72.05,93c6.69,0,27.06,0,27.06-18.7,0-9.11-6.11-15.72-14.54-15.72a50.68,50.68,0,0,0-7.54.71c-14.69,2.11-16.24-.71-25.31-.71-14.86,0-18.76,19.24-9.87,28,8,8,23.25,5.94,30.2,6.38ZM51.72,63.79c9,0,10.19,2.94,26.05.66a47.24,47.24,0,0,1,6.8-.66c6.42,0,9.34,5.46,9.34,10.53,0,9.34-6.74,13.5-21.69,13.5-5.76-.38-20.34,1.43-26.71-4.88-5.65-5.59-3.84-19.15,6.21-19.15Zm0,0"/>
                                    <path d="M83.1,84.71c3.58,0,6.93-3.12,6.93-8.66,0-11.51-13.87-11.5-13.87,0,0,5.68,3.49,8.66,6.94,8.66Zm0-12.11c.84,0,1.74,1.21,1.74,3.45,0,4.59-3.47,4.52-3.47,0,0-1.33.48-3.45,1.73-3.45Zm0,0"/>
                                    <path d="M53.25,84.71c9.25,0,9.25-17.3,0-17.3s-9.25,17.3,0,17.3ZM55,76.05c0,4.58-3.46,4.52-3.46,0s3.46-4.62,3.46,0Zm0,0"/>
                            </g>
                        </g>
                    </svg>
        //- section.loader
            img(src="./images/SVG/logo-vertical.svg" alt="Ana Sanz Logo").loader__image.loader__image--logo
            img(src="./images/SVG/bg-flower.svg" alt="Flower dots style icon").loader__image.loader__bgimage.loader__bgimage--flower
            img(src="./images/SVG/bg-fireworks.svg" alt=" Fireworks dots style icon").loader__image.loader__bgimage.loader__bgimage--fireworks
            img(src="./images/SVG/bg-mandala.svg" alt=" mandala dots style icon").loader__image.loader__bgimage.loader__bgimage--mandala
            img(src="./images/SVG/bg-music.svg" alt="Music dots style icon").loader__image.loader__bgimage.loader__bgimage--music
            img(src="./images/SVG/bg-rectangle.svg" alt="rectangle dots style icon").loader__image.loader__bgimage.loader__bgimage--rectangle
            img(src="./images/SVG/bg-sun.svg" alt="Sun dots style icon").loader__image.loader__bgimage.loader__bgimage--sun
    script(src="js/src/js/app.min.js")

