<!DOCTYPE html>
html(lang="en")
    head
    //- add css + js + header and footer / automatization on repeats forms
    -//  
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/app.css")
        title Ana Sanz / Webportfolio
    body
        header.header
            div.header-back
            //- image background parallax image, center menu as router
            div.header-text
                h1 Hello there
                h2 I'm Ana Sanz
            div.header-dev
                a(href="#")
                  h3 FrontEnd Developer              
            div.header-photo
                a(href="#")
                    h3 Photographer/</br>Videomaker 
            //- scrolldown change menu to fixed top menu with only text
        main
            section 
                //- instroduction text
                div
                    //- image left scrool show parallax 
                div 
                    //- text right   
            section
                //- experience web developer choosed
            section
                //- tools and codes knwon
            section
                //- photos selcted experiences 
            section
                //- photos in galery style 
        footer
            //- contact informations