<!DOCTYPE html>
html(lang="en")
    head
    //- add css + js + header and footer / automatization on repeats forms
    -//  
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/app.css")
        title Ana Sanz / Webportfolio
    body
        header.header
            div.header-text
                h2 Hello there
                h1 I'm Ana Sanz
            div.header-dev
                a(href="#" id="dev-toggle")
                  h3 FrontEnd Developer              
            div.header-photo
                a(href="#" id="photo-toggle")
                    h3 Photographer</br>Videomaker 
        main
            section.all-intro
                div.all-image
                    div.all-in
                    //- (src="https://picsum.photos/200/300", alt="")
                div.all-text
                    p.title Living in Palma de Mallorca, Spain
                    p Self and quick learner, organized, versatile, curious and dedicated.
                    p Always searching for new technologies to learn and improve in design, frontend.
                    p Native brazilian portuguese, advanced english and spanish.
                    p College in Product Design at Belas Artes de São Paulo

            section.main-intro
                nav#menu-sec.menu-sub
                    ul
                        li
                            a(href='#' id='dev-sec' class="sec-menu selected") FrontEnd Developer
                        li 
                            a(href='#' id='photo-sec' class='sec-menu') Photographer/VideoMaker
                    //- menu for toggle also photo and webdeveloper
                section#dev-intro.intro-toggle.main-dev.slide-on
                    div.intro-out
                        div.intro-img
                            img(src="https://picsum.photos/200/300?grayscale", alt="")
                        div.intro-text
                            p.principal Frontend Developer since 2013

                            p Worked at the brazilian startup Mendelics for 2 years, 2013 and 2014, as graphic designer/art director and webdesigner/frontend developer.

                            p In mid 2018 started work in Madrid as front-end developer at Prodigious Spain, with great companies like Mercedes, Garnier and Telefonica.

                            p In April of 2019 moved to Palma de Mallorca where is now based, working as freelancer frontend.

                            p From 2019 started to learn and developing with Vue.js.

                            p Languages: HTML/Pug, CSS/Sass, JavaScript, Gulp, Git. Basic in: Python, Vue.js, MongoDB.

                section#photo-intro.intro-toggle.main-photo
                    div.intro-out
                        div.intro-img
                            img(src="https://picsum.photos/200/300?grayscale", alt="")
                        div.intro-text

                            p.principal Photographer Videomaker since 2015

                            p In Japan, worked from 2016 to early 2017, at Tiempo Iberoamericano with video editing and filming, photography. 

                            p And from 2017 to early 2018 at Flamenco Studio Los Lunares with video editing and filming, photography and design.

                            p In 2018 moved to Spain and started to work with musicians and dancers with photography and videographer.
                            
                            p In 2019 started to work as photographer and videomaker at Triana Productions, flamenco music and dance company.
                            
                            p Tools: Illustrator, Photoshop, InDesign, Premiere Pro, After Effects, DaVinci Resolve, Lightroom.

            section
                //- photos in galery style 
        footer
            //- contact informations
            script(src="js/src/js/app.min.js")