<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Ana Sanz, frontend developer, based in Spain, Website Portfolio")
        link(rel="stylesheet", href="css/style.css")
        title Ana Sanz | WebPortfolio
    body
        //- .viewer-circle 
        //-     p.viewer-circle__text.viewer-circle__text--frontend Frontend Developer
        //-     p.viewer-circle__text.viewer-circle__text--videomaker Videomaker
        header.section-base.header
            .header__image
                figure.heager__figure
                    img.header__image--bg(src="./images/header/bg-allsmall.png", alt="")
                figure.header__figure
                    img.header__image--bgbig(src="./images/header/bg-all.png") 
                .header-parallax
                    img.header-parallax__img.header__image--grafismo(src="./images/header/grafis.png", alt="")    
                    img.header-parallax__img.header__image--maismenos(src="./images/header/maismenos.png", alt="")    
                    img.header-parallax__img.header__image--tuba(src="./images/header/tuba.png", alt="")    
                    img.header-parallax__img.header__image--traco(src="./images/header/traco.png", alt="")    
                    img.header__logo(src="./images/logo-white.png",  alt="Ana Sanz Logo")
                //- .header__text
                //-     h1.header__subtitle Hello
                //-     h2.header__title I'm Ana Sanz
                //- .header__text
                //-     h2.header__subtitle Hello
                //-     h1.header__title I'm Ana Sanz
                  
                //- picture
                //-  img(src="./images/bg-opening2small.png", alt="Flamenco dancer with red dress", 
                //-  size="320px, 1024px",
                //-  srcset="./images/bg-opening2small.png 640w, ./images/bg-opening2.png  1024w")
        main.section-base.main
            //- section.section-base.path
            //-     img.path__image.path__image--saopaulo(src="./images/SVG/saopaulo_icon.svg", alt="")
            //-     img.path__image.path__image--japan(src="./images/SVG/japan_icon.svg", alt="")
            //-     img.path__image.path__image--spain(src="./images/SVG/spain_icon.svg", alt="")
            //-     img.path__image.path__image--portugal(src="./images/SVG/portugal_icon.svg", alt="")

            section.section-base.about
                .about-image
                    img.circle-image.about-image__img(src="./images/ana-sanz-photo.jpg", alt="Ana Sanz Photo (me)")
                    img.about-image__icons.about-image__icons--mandala(src="./images/SVG/bg-mandala.svg", alt="mandala dots style icon")
                    img.about-image__icons.about-image__icons--fireworks(src="./images/SVG/bg-fireworks.svg", alt="Fireworks dots style icon")
                .about-text
                    .about-text__first 
                        h2.main__title About me
                        h3.main__description Frontend Developer 
                        p.text-color 5 years of experience, based in Palma de Mallorca, Spain.
                        p I'm a multidisciplinary person, organized, self-taught, versatile, adaptible and detail-oriented. 
                        p I have experience working in different places, Brazil, Japan, and Spain, and with different types of companies, startups, and agencies.
                        p Passionate about technology, books, innovatiosn, sci-fi, games, human history, ecology, and gastronomy.
                        p Speaker of 3 languagues: English, Spanish and Portuguese.
                        p I have expertise coding with: HTML/PUG, CSS/SASS, Javascript, Gulp, Git.
                        p But I'm familiar with: Bootstrap, React, MongoDB, GraphQL, and Python.

                    button.button-plus.button-about#button-moreabout( aria-expanded="false" aria-control="more-about") +
                    .about-text__second#more-about(style="display: none" role="region" aria-labeledby="button-moreabout")
                        h3.main__description Side Quests
                        p College graduation in Product Design at Belas Artes, in São Paulo, Brazil.
                        p I have 5 years of experience as Graphic/ Webdesigner, 
                        p And 3 years working as Photographer/ Videographer (working with musicians and dancers).
                        p So, the tools I use are: Illustrator, Photoshop, Premiere Pro, After Effects, DaVinci Resolve, and Lightroom.
                        p Oh, I'm also a Flamenco dancer, and in 2019-2020 I have been working in a company in Mallorca, Spain.

            section.section-base.experience
                .experience-text
                    h2.main__title Professional Experience
                    .experience-text__first
                        div.experience-text__container
                            h3.main__description Since 2013
                            p Worked at the brazilian startup Mendelics for 2 years, 2013 and 2014, as graphic designer/art director and webdesigner/frontend developer.
                            p In mid 2018 started work in Madrid as front-end developer at Prodigious Spain, with great companies like Mercedes, Garnier and Telefonica(<a class="experience-text__link" href="https://o2online.es/"> especially with O2</a>).
                            p In April of 2019 moved to Palma de Mallorca where is now based, working as freelancer frontend.
                            p.text-color Keywords: Mobile First, Accessibility, Agile/Lean, BEM CSS, ES6, Responsive & Adaptative website, UX, Adobe Suite.
                            p From 2019 started to learn and developing with React.
                        .experience-image
                            img.circle-image.experience-image--frontend(src="./images/percusion-11.jpg" alt="")
                            img.experience-image__icons.experience-image__icons--sun(src="./images/SVG/bg-sun.svg", alt="Sun dots style icon")
                            img.experience-image__icons.experience-image__icons--rectangle(src="./images/SVG/bg-rectangle.svg", alt="Rectangle dots style icon")
                   
            section.section-base.projects
                .projects-text
                    h2.main__title  Projects
                    h3.main__description Code Projects
                ul.projects-list
                    li.projects-list__item
                        //- img(src="./images/captura2.png", alt="")

        footer.section-base.footer
            .footer-text
                h2.main__title Contact
                h3.main__description Leave me a message
                p.text-color if you need anything!
                a(href="mailto:anaclaulp@gmail.com") anaclaulp@gmail.com
                p +34 695749730
                a(href="https://linkedin.com/in/ana-claudia-sanz/") Linkedin
                a(href="https://landing.jobs/profile/2e3cb6703e48a889148669") Landing.jobs
        //- section.loader
            img(src="./images/SVG/logo-vertical.svg" alt="Ana Sanz Logo").loader__image.loader__image--logo
            img(src="./images/SVG/bg-flower.svg" alt="Flower dots style icon").loader__image.loader__bgimage.loader__bgimage--flower
            img(src="./images/SVG/bg-fireworks.svg" alt=" Fireworks dots style icon").loader__image.loader__bgimage.loader__bgimage--fireworks
            img(src="./images/SVG/bg-mandala.svg" alt=" mandala dots style icon").loader__image.loader__bgimage.loader__bgimage--mandala
            img(src="./images/SVG/bg-music.svg" alt="Music dots style icon").loader__image.loader__bgimage.loader__bgimage--music
            img(src="./images/SVG/bg-rectangle.svg" alt="rectangle dots style icon").loader__image.loader__bgimage.loader__bgimage--rectangle
            img(src="./images/SVG/bg-sun.svg" alt="Sun dots style icon").loader__image.loader__bgimage.loader__bgimage--sun
    script(src="js/src/js/app.min.js")

